<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CY5</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/main.css">
        <link rel="stylesheet" href="static/bios.css">
        <link rel="icon" href="static/images/favicon.png">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="margin: 0;">
        <div class="header">
           <!--<h1>Leads</h1>-->
        </div>

        <div class="navbar">
            <a href="/"><img src="static/images/favicon.png" alt="Home" /></a>
            <a href="/OurLeads">Meet The Team</a>
            <a href="/ContactUs">Contact</a>
            <a href="/Sponsors">Sponsors</a>
            <a href="https://www.stuorg.iastate.edu/isuroboticsclub/information">Join</a>
        </div>
        
        <div class="bios">
            <div class="person">
                <img src="static/images/Caden.jpg">
                <h3>
                    Caden Klopfenstein
                </h3>

                <h3>
                    Lead Electrical
                </h3>
                <p>
                    A dedicated Computer Engineering student leader looking to improve systems and lives through technology integration and team collaboration. Previous experience with sales, sensors, vision/AI technology, and motors/electrical systems within personal projects and teams. Currently, a Student Senator for the College of Engineering and Electrical/Sensors Lead for the VEX U robotics team at Iowa State.
                </p>
            </div>
            <div class="person">
                <img src="static/images/Micah.jpg">
                <h3>
                    Micah Scheaffer
                </h3>

                <h3>
                    Lead Mechanical
                </h3>
                <p>
                    Bio
                </p>
            </div>
            <div class="person">
                <img src="static/images/Shawn.jpg">
                <h3>
                    Shawn Pelchat
                </h3>

                <h3>
                    Lead Software
                </h3>
                <p>
                    Bio
                </p>
            </div>
            <div class="person">
                <img src="static/images/Gabriel.jpg">
                <h3>
                    Gabriel Mankowski
                </h3>

                <h3>
                    Head Web Developer
                </h3>
                <p>
                    Bio
                </p>
            </div>
            <div class="person">
                <img src="static/images/Roman.jpg">
                <h3>
                    Roman Gerst
                </h3>

                <h3>
                    Jr. Web Developer
                </h3>
                <p>
                    Bio
                </p>
            </div>
            <div class="person">
                <img src="static/images/mugshot.jpg">
                <h3>
                    Name
                </h3>

                <h3>
                    Position
                </h3>
                <p>
                    Bio
                </p>
            </div>
        </div>
    </body>
</html>