<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CY5</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/main.css">
        <link rel="icon" href="static/favicon.png">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="margin: 0;">
        <div class="header">
            <h1>Contact Us</h1>
        </div>

        <div class="navbar">
            <a href="/"><img src="static/CY.gif" alt="Home" /></a>
            <a href="/OurLeads">Meet The Team</a>
            <a href="/ContactUs">Contact</a>
            <a href="https://www.stuorg.iastate.edu/isuroboticsclub/information">Join</a>
        </div>

        <div class="row">
            <div class="side">
                <h2>Side</h2>
                <p>Long Description</p>
            </div>
            <div class="main">
                <h2>Main</h2>
                <p>Long Description</p>
            </div>
        </div>

        
    </body>
</html>