<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CY5</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/main.css">
        <link rel="stylesheet" href="static/home.css">
        <link rel="icon" href="static/images/favicon.png">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="margin: 0;">

        <div class="header">
            <!--<h1>Iowa State Vex Robotics</h1>-->
        </div>
        
        <div class="navbar">
            <a href="/"><img src="static/images/favicon.png" alt="Home" /></a>
            <a href="/OurLeads">Meet The Team</a>
            <a href="/ContactUs">Contact</a>
            <a href="/Sponsors">Sponsors</a>
            <a href="https://www.stuorg.iastate.edu/isuroboticsclub/information">Join</a>
        </div>

        <div class="container_left">
            <div class="media">
                <img src="static/images/placeholderbot.png" alt="Teams">
            </div>
            <div class="description_left">
                <h2>Test Title</h2>
                <p>This is a test</p>
            </div>
        </div>
        <div class="container_right">
            <div class="media">
                <img src="static/images/placeholderbot.png" alt="Teams">
            </div>
            <div class="description_right">
                <h2>Test Title</h2>
                <p>This is a test</p>
            </div>
        </div>
        <div class="container_left">
            <div class="media">
                <img src="static/images/placeholderbot.png" alt="Teams">
            </div>
            <div class="description_left">
                <h2>Test Title</h2>
                <p>This is a test</p>
            </div>
        </div>
        <div class="container_right">
            <div class="media">
                <img src="static/images/placeholderbot.png" alt="Teams">
            </div>
            <div class="description_right">
                <h2>Test Title</h2>
                <p>This is a test</p>
            </div>
        </div>

        
    </body>
</html>