<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/sponsors.css">
    <link rel="icon" href="static/images/favicon.png">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>2024 ISU Vex Robotics Sponsors</title>
</head>

<body>

    <div class="navbar">
        <a href="/"><img src="static/images/favicon.png" alt="Home" /></a>
        <a href="/OurLeads">Meet The Team</a>
        <a href="/ContactUs">Contact</a>
        <a href="/Sponsors">Sponsors</a>
        <a href="https://www.stuorg.iastate.edu/isuroboticsclub/information">Join</a>
    </div>

    <header>
        <h1>2024 ISU Vex Robotics Sponsors</h1>
        <p>Thank you to our sponsors</p>
        <p>For more Info, Contact our Outreach Lead: <a href="mailto:cklop@iastate.edu">cklop@iastate.edu</a></p>
        <button class="sponsor-button" onclick="alert('Send to sponsor form')">Sponsor Us</button>
    </header>

    <section>
        <h2 class="platinum">Platinum: $5000+</h2>
        <div class="plat-images">
            <img src="static/images/Raytheon.png" alt="Plat Sponsor 1">
            <img src="static/images/Nvidia.png" alt="Plat Sponsor 2"> <!-- Copypaste as needed-->
        </div>
    </section>

    <section>
        <h2 class="gold">Gold: $2500+</h2>
        <div class="gold-images">
            <img src="static/images/IBM.png" alt="Gold Sponsor 1">
            <img src="static/images/Google.png" alt="Gold Sponsor 2">
        </div>
    </section>

    <section>
        <h2 class="silver">Silver: $1000+</h2>
        <div class="silver-images">
            <img src="static/images/Amazon.png" alt="Silver Sponsor 1">
            <img src="static/images/Capricorn.jpg" alt="Silver Sponsor 1">
        </div>
    </section>

    <section>
        <h2 class="bronze">Bronze: $500+</h2>
        <div class="bronze-images">
            <img src="static/images/Intel.png" alt="Bronze Sponsor 1">
            <img src="static/images/Apple.png" alt="Bronze Sponsor 2">
        </div>
    </section>

</body>

</html>