<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISU Vex U</title>
    <link rel="stylesheet" href="../static/dist/css/output.css" />
  </head>
  <header class="bg-white">
    <div
      class="w-full bg-cover bg-center"
      style="
        height: 34rem;
        background-image: url(../static/dist/header_img.jpg);
      "
    >
      <nav class="mx-auto flex items-center p-5">
        <div class="flex-initial">
          <img
            src="../static/dist/robotics_logo.png"
            alt="logo"
            class="h-16 w-auto"
          />
        </div>
        <div class="flex-grow">
          <h1 class="text-red-600 text-2xl font-bold">VEX Robotics</h1>
        </div>
        <div class="flex gap-x-16">
          <a
            href="/vexSite/templates/home.html"
            class="text-red-600 hover:text-red-800 text-2xl"
            >Home</a
          >
          <a
            href="/vexSite/templates/sponsors.html"
            class="text-red-600 hover:text-red-800 text-2xl"
            >Sponsors</a
          >
          <a
            href="/vexSite/templates/contact.html"
            class="text-red-600 hover:text-red-800 text-2xl"
            >Contact</a
          >
          <a
            href="https://www.stuorg.iastate.edu/auth/login?REDIR=/site/isuroboticsclub/join"
            class="text-red-600 hover:text-red-800 text-2xl"
            >Join</a
          >
        </div>
      </nav>
      <div class="flex justify-center items-center text-center h-1/2 w-full">
        <h1 class="text-7xl font-bold text-red-600">Sponsors</h1>
      </div>
    </div>
  </header>
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold text-black max-w-2xl text-center">
      A formal thank you to our respected sponsors. We truly appreciate your
      integral role in our success.
    </h1>
    <h1 class="text-xl text-blue-600 text-center">
      <a href="../static/dist/Sponsor_Packet_0.0.1.pdf" target="_blank"
        >Download our Sponsor Packet if you are interesting in sponsoring us</a
      >
      <hr />
      <br />
    </h1>
  </div>
  <div class="flex flex-col items-center justify-center text-center">
    <h1 class="text-3xl text-blue-500">
      Platinum Sponsors
      <hr />
      <br />
    </h1>
    <div class="flex">
      <div class="relative">
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
        <p class="max-w-96 min-w-96">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ligula
          at arcu consectetur cursus a a nisi. Nunc et leo vel metus convallis
          tincidunt. In hac habitasse platea dictumst. Proin euismod, libero ac
          fermentum ultricies, sem lacus tristique dui, in scelerisque metus
          mauris id lectus. Ut nec volutpat neque, nec luctus nisl. Vivamus eu
          vestibulum est. Aliquam erat volutpat. Vestibulum vel congue tellus,
          nec efficitur justo. Nulla facilisi. Curabitur non vehicula libero.
          Integer quis dolor eu sem iaculis consectetur. Sed accumsan gravida
          justo, eget tempus nunc fermentum a. Suspendisse potenti. Integer in
          odio non nisl commodo aliquet.
        </p>
      </div>
      <div class="relative">
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
        <p class="max-w-96 min-w-96">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ligula
          at arcu consectetur cursus a a nisi. Nunc et leo vel metus convallis
          tincidunt. In hac habitasse platea dictumst. Proin euismod, libero ac
          fermentum ultricies, sem lacus tristique dui, in scelerisque metus
          mauris id lectus. Ut nec volutpat neque, nec luctus nisl. Vivamus eu
          vestibulum est. Aliquam erat volutpat. Vestibulum vel congue tellus,
          nec efficitur justo. Nulla facilisi. Curabitur non vehicula libero.
          Integer quis dolor eu sem iaculis consectetur. Sed accumsan gravida
          justo, eget tempus nunc fermentum a. Suspendisse potenti. Integer in
          odio non nisl commodo aliquet.
        </p>
      </div>
    </div>
    <h1 class="text-3xl text-yellow-500">
      Gold Sponsors
      <hr />
      <br />
    </h1>
    <div class="flex">
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-72 w-auto"
      />
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-72 w-auto"
      />
    </div>
    <h1 class="text-3xl text-gray-500">
      Silver Sponsors
      <hr />
      <br />
    </h1>
    <div class="flex">
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-60 w-auto"
      />
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-60 w-auto"
      />
    </div>
    <h1 class="text-3xl text-yellow-900">
      Bronze Sponsors
      <hr />
      <br />
    </h1>
    <div class="flex">
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-52 w-auto"
      />
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-52 w-auto"
      />
    </div>
  </div>
</html>
