<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISU Robotics</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/dist/robotics_logo.png"
    />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
  </head>
  <header class="bg-white">
    <div
      class="w-full bg-cover bg-center"
      style="
        height: 34rem;
        background-image: url(../static/dist/battlebot2.jpg);
      "
    >
      <nav
        class="mx-auto flex items-center p-5 backdrop-brightness-50 backdrop-blur-sm"
      >
        <div class="flex-initial invisible sm:visible">
          <img
            src="../static/dist/robotics_logo.png"
            alt="logo"
            class="h-16 w-auto"
          />
        </div>
        <div class="flex-grow invisible sm:visible">
          <h1 class="text-yellow-500 text-2xl font-bold">ISU Robotics</h1>
        </div>
        <div class="md:flex md:gap-x-16">
          <a
            href="/roboticsSite/templates/home.html"
            class="text-yellow-500 hover:text-yellow-600 text-2xl font-semibold"
            >Home</a
          >
          <a
            href="/roboticsSite/templates/sponsors.html"
            class="text-yellow-500 hover:text-yellow-600 text-2xl font-semibold"
            >Sponsors</a
          >
          <a
            href="/roboticsSite/templates/contact.html"
            class="text-yellow-500 hover:text-yellow-600 text-2xl font-semibold"
            >Contact</a
          >
          <a
            href="https://www.stuorg.iastate.edu/auth/login?REDIR=/site/isuroboticsclub/join"
            class="text-yellow-500 hover:text-yellow-600 text-2xl font-semibold"
            >Join</a
          >
        </div>
      </nav>
    </div>
  </header>
  <div class="flex justify-center">
    <h1 class="text-3xl font-bold text-black">
      Our Program
      <br />
      <br />
    </h1>
  </div>
  <div class="flex flex-col items-center justify-center text-center">
    <p class="text-xl text-gray-600 max-w-4xl">
      The Robotics Club at Iowa State University is focused on bringing
      technical knowledge and interest in robotics to students at Iowa State
      University. We participate in competitions and outreach events at local
      schools and on the ISU campus. <br /><br />

      Robotics Club is open to anyone with an interest in robotics--no prior
      experience required! We hold general meetings once a month, and projects
      generally meet on a weekly basis depending on the projects needs and
      members' availability. During general meetings, we'll give an overview of
      our projects, cover some broad engineering and career topics, and invite
      guest speakers throughout the semester. <br /><br />
    </p>
  </div>
  <div class="flex justify-center">
    <h1 class="text-3xl font-bold text-black">
      Current Projects
      <br />
      <br />
    </h1>
  </div>
  <div class="flex items-center justify-center text-center">
    <div class="flex-col max-w-4xl">
      <button
        class="flex outline outline-black m-2 bg-yellow-500 hover:scale-105"
        onclick="window.location.href='/roboticsSite/templates/snowplow.html'"
      >
        <div class="flex w-0 h-80 invisible sm:visible sm:w-full">
          <img
            src="../static/dist/snowplow2.jpg"
            alt="autonomous snowplow"
            class="w-full h-auto fit-cover"
          />
        </div>
        <div class="flex flex-col">
          <h2 class="text-2xl font-bold text-black">Autonomous Snowplow</h2>
          <br />
          <p class="text-xl text-gray-600 max-w-4xl">
            Autonomous Snowplow is tasked with clearing a predetermined area of
            snow without any human input; they can only use algorithms, computer
            vision, and additional sensors. They recently rebuilt the drive
            train.
          </p>
        </div>
      </button>
      <button
        class="flex outline outline-black m-2 bg-yellow-500 hover:scale-105"
        onclick="window.location.href='/roboticsSite/templates/battlebot.html'"
      >
        <div class="flex w-0 h-80 invisible sm:visible sm:w-full">
          <img
            src="../static/dist/battlebot.png"
            alt="combat robots"
            class="w-full h-auto fit-cover"
          />
        </div>
        <div class="flex flex-col">
          <h2 class="text-2xl font-bold text-black">Combat Robots</h2>
          <br />
          <p class="text-xl text-gray-600 max-w-4xl">
            Combat has been working on their 30-lb robot. Combat Robots are
            scored on their bot's aggression, defensive abilities, and overall
            design. The last bot left standing wins!
          </p>
        </div>
      </button>
      <button
        class="flex outline outline-black m-2 bg-yellow-500 hover:scale-105"
        onclick="window.location.href='/roboticsSite/templates/exo.html'"
      >
        <div class="flex w-0 h-80 invisible sm:visible sm:w-full">
          <img
            src="../static/dist/exo.jpg"
            alt="exosuit"
            class="w-full h-auto fit-cover"
          />
        </div>
        <div class="flex flex-col">
          <h2 class="text-2xl font-bold text-black">Exo-Skeleton Suit</h2>
          <br />
          <p class="text-xl text-gray-600 max-w-4xl">
            Our ExoSuit project is meant to provide external support to
            first-responders, increasing possible weight lifted and extending
            the time before physical exhaustion. In competition, the team will
            be scored on design, an obstacle course, and efficiency.
          </p>
        </div>
      </button>
    </div>
  </div>
</html>
