<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISU Robotics</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/dist/robotics_logo.png"
    />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
  </head>
  <header class="bg-white">
    <div
      class="w-full bg-cover bg-center"
      style="
        height: 34rem;
        background-image: url(../static/dist/Exo\ Comp\ 5.jpg);
      "
    >
      <nav
        class="mx-auto flex items-center p-5 backdrop-brightness-50 backdrop-blur-sm"
      >
        <div class="flex-initial invisible sm:visible">
          <img
            src="../static/dist/robotics_logo.png"
            alt="logo"
            class="h-16 w-auto"
          />
        </div>
        <div class="flex-grow invisible sm:visible">
          <h1 class="text-yellow-500 text-2xl font-bold">ISU Robotics</h1>
        </div>
        <div class="md:flex md:gap-x-16">
          <a
            href="/roboticsSite/templates/home.html"
            class="text-yellow-500 hover:text-yellow-600 text-2xl font-semibold"
            >Home</a
          >
          <a
            href="/roboticsSite/templates/sponsors.html"
            class="text-yellow-500 hover:text-yellow-600 text-2xl font-semibold"
            >Sponsors</a
          >
          <a
            href="/roboticsSite/templates/contact.html"
            class="text-yellow-500 hover:text-yellow-600 text-2xl font-semibold"
            >Contact</a
          >
          <a
            href="https://www.stuorg.iastate.edu/auth/login?REDIR=/site/isuroboticsclub/join"
            class="text-yellow-500 hover:text-yellow-600 text-2xl font-semibold"
            >Join</a
          >
        </div>
      </nav>
      <div class="flex justify-center items-center text-center h-1/2 w-full">
        <h1
          class="text-7xl font-bold text-yellow-400 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"
        >
          Sponsors
        </h1>
      </div>
    </div>
  </header>
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold text-black max-w-2xl text-center">
      A formal thank you to our respected sponsors. We truly appreciate your
      integral role in our success.
      <hr />
      <br />
    </h1>
  </div>
  <div class="flex flex-col">
    <div class="flex justify-center p-5">
      <button
        class="relative hover:scale-110"
        onclick="window.location.href='/roboticsSite/templates/sponsors.html'"
      >
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
      </button>
      <button
        class="relative hover:scale-110"
        onclick="window.location.href='/roboticsSite/templates/sponsors.html'"
      >
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
      </button>
      <button
        class="relative hover:scale-110"
        onclick="window.location.href='/roboticsSite/templates/sponsors.html'"
      >
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
      </button>
    </div>
    <div class="flex justify-center p-5">
      <button
        class="relative hover:scale-110"
        onclick="window.location.href='/roboticsSite/templates/sponsors.html'"
      >
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
      </button>
      <button
        class="relative hover:scale-110"
        onclick="window.location.href='/roboticsSite/templates/sponsors.html'"
      >
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
      </button>
      <button
        class="relative hover:scale-110"
        onclick="window.location.href='/roboticsSite/templates/sponsors.html'"
      >
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
      </button>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <p class="text-xl text-center text-black max-w-2xl">
      The Robotics Club is always looking for funding. Most goes to building
      projects, outreach towards our local community, and our general club
      upkeep. We are always grateful to individuals and companies for their
      continuous support.
      <br />
      <br />
    </p>
  </div>
  <div class="flex items-center justify-center">
    <p class="text-xl text-center text-black max-w-2xl">
      If you are interested in sponsoring us, please reach out to us at the
      email below.
    </p>
  </div>
  <br />
  <div class="flex justify-center">
    <button
      class="bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded-full"
    >
      <a href="mailto:cklop@iastate.edu"> Caken K. - Outreach Lead </a>
    </button>
  </div>
  <!--
    <div
    class="flex flex-col items-center justify-center text-center"
  >
    <h1 class="text-3xl text-blue-500">
      Platinum Sponsors
      <hr />
      <br />
    </h1>
    <div class="flex">
      <div class="relative">
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
        <p class="max-w-96 min-w-96">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ligula
          at arcu consectetur cursus a a nisi. Nunc et leo vel metus convallis
          tincidunt. In hac habitasse platea dictumst. Proin euismod, libero ac
          fermentum ultricies, sem lacus tristique dui, in scelerisque metus
          mauris id lectus. Ut nec volutpat neque, nec luctus nisl. Vivamus eu
          vestibulum est. Aliquam erat volutpat. Vestibulum vel congue tellus,
          nec efficitur justo. Nulla facilisi. Curabitur non vehicula libero.
          Integer quis dolor eu sem iaculis consectetur. Sed accumsan gravida
          justo, eget tempus nunc fermentum a. Suspendisse potenti. Integer in
          odio non nisl commodo aliquet.
        </p>
      </div>
      <div class="relative">
        <img
          src="../static/dist/robotics_logo.png"
          alt="ISU"
          class="max-h-80 w-auto"
        />
        <p class="max-w-96 min-w-96">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ligula
          at arcu consectetur cursus a a nisi. Nunc et leo vel metus convallis
          tincidunt. In hac habitasse platea dictumst. Proin euismod, libero ac
          fermentum ultricies, sem lacus tristique dui, in scelerisque metus
          mauris id lectus. Ut nec volutpat neque, nec luctus nisl. Vivamus eu
          vestibulum est. Aliquam erat volutpat. Vestibulum vel congue tellus,
          nec efficitur justo. Nulla facilisi. Curabitur non vehicula libero.
          Integer quis dolor eu sem iaculis consectetur. Sed accumsan gravida
          justo, eget tempus nunc fermentum a. Suspendisse potenti. Integer in
          odio non nisl commodo aliquet.
        </p>
      </div>
    </div>
    <h1 class="text-3xl text-yellow-500">
      Gold Sponsors
      <hr />
      <br />
    </h1>
    <div class="flex">
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-72 w-auto"
      />
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-72 w-auto"
      />
    </div>
    <h1 class="text-3xl text-gray-500">
      Silver Sponsors
      <hr />
      <br />
    </h1>
    <div class="flex">
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-60 w-auto"
      />
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-60 w-auto"
      />
    </div>
    <h1 class="text-3xl text-yellow-900">
      Bronze Sponsors
      <hr />
      <br />
    </h1>
    <div class="flex">
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-52 w-auto"
      />
      <img
        src="../static/dist/robotics_logo.png"
        alt="ISU"
        class="h-52 w-auto"
      />
    </div>
  </div>
  -->
</html>
